@import '../../style/index';



.columnList {
    padding: 4rem;
    width: 100%;
    height: 100%;

    display: flex;
    gap: 4rem;
}


.newColumnLi {

    width: 25rem;

    form {
        background-color: #4949577f;
        
        width: 100%;

        border-radius: 10px;

        @include useFlex(column);
    }
    
    
    input{
        width: 100%;
        padding: 1rem 1rem;
        outline: none;
        color: #fff;
    }

    button{
        display: none;
        background-color: blue;
        color: #fff;
    }
}