@import '../../style/index';

.columnContainer{

    width: 25rem;

    h4{
        margin-bottom: 1rem;
    }

    ul{
        @include useFlex(column);
        justify-content: flex-start;
        align-items: start;
        gap: 2rem;
    }


}