// ====================ARQUIVO SOMENTE PARA FONTS

.app-title{
    font-size: 1.8rem;
}


.board-title{
    font-size: 1.8rem;
}


.sidebar-board-title{
    font-size: 1.4rem;
}

.column-title{
    font-size: 1.4rem;
}

.task-title{
    font-size: 1.4rem;
}

.subtasks-status{
    font-size: 1.2rem;
}

.bt-add-task{
    
}

