// ====================ARQUIVO PARA FUNÇÕES SASS E CONFIGURAÇÕES GLOBAIS


$dark-bg: #21212d;
$component-gray: #2c2c38;
$text-gray: #888fa0;
$purple: #645fc6;
$text-color: #fff;


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background: none;
}



@mixin useFlex($direction: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}



#app {
    background-color: $dark-bg;
    min-height: 100vh;
    color: $text-color;

    display: flex;


    &>div:nth-child(2) {
        flex-grow: 1;
        @include useFlex(column);
        justify-content: space-between;
    }

}

.purpleButton {
    background-color: $purple;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    color: $text-color;
    margin-left: 15px;
    cursor: pointer;
}
.whiteButton {
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem 1.5rem;
    color: #000;
    margin-left: 15px;
    cursor: pointer;
}

.registerLoginForm {
    height: 100%;
    width: 100%;

    @include useFlex(column);

    h2 {
        font-size: 4rem;
        margin-bottom: 4rem;
    }

    form label {
        @include useFlex(column);
        align-items: start;

        margin-bottom: 2rem;
        font-size: 2.6rem;
    }



    input {
        font-size: 2rem;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: .4rem .6rem;
        color: #fff;
    }
}


.shadow {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #00000073;
    display: none;
}

.show{
    display: block;
}


:root {
    font-size: 62.5%
}

.popupForm{

    width: 800px;

    position: relative;

    background-color: $component-gray;

    .closePopup{
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.4rem;
    }

    h4{
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    form > div{
        @include useFlex(column);
        align-items: start;
        margin-bottom: 2.5rem;
    }

    label{
        align-items: start;

        margin-bottom: 1rem;
        font-size: 2rem;
    }

    input, textarea {
        font-size: 1.8rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: .4rem .5rem;
        color: #fff;
    }

    textarea{
        resize: none;
    }

    .boardColumns div{
        @include useFlex(row);
        gap: 1rem;
        margin-bottom: 1rem;
    }
}