// ====================ARQUIVO PARA FUNÇÕES SASS E CONFIGURAÇÕES GLOBAIS


$dark-bg: #21212d;
$component-gray: #2c2c38;
$text-gray: #888fa0;
$purple: #645fc6;
$text-color: #fff;


@mixin useFlex($direction: row){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}


#app {
    background-color: $dark-bg;
    min-height: 100vh;
    color: $text-color;

    display: flex;


    &>div:nth-child(2) {
        flex-grow: 1;
        @include useFlex(column);
        justify-content: space-between;
    }

}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background:none;
}

:root{
    font-size:62.5%
}

